.bg-grey-lighter {
    background-color: #f3f3f3 !important;
}

.fg-grey-dark{
    color: $grey-dark !important;
}

.cursor-pointer{
    cursor: pointer !important;
}

body {
    font-size: 16px;
    line-height: $line-height-base;
    color: $text-color;
    overflow-x: hidden !important;
    overflow-y: scroll;
}
